[Unit]
Description=tmux: A terminal multiplexer
Documentation=man:tmux(1)

[Service]
Type=forking
ExecStart=/usr/bin/tmux -u start \; new-session -d 'sleep 5'
ExecStop=/usr/bin/tmux kill-server

[Install]
WantedBy=default.target
